[Unit]
Description=Enable FM Radio
DefaultDependencies=false
After=droid-hcismd-up.service

[Service]
Type=oneshot
ExecStartPre=/sbin/modprobe radio-iris
ExecStart=/sbin/modprobe radio-iris-transport
RemainAfterExit=yes

[Install]
WantedBy=bluetooth.service
